<div class="container" id="container-about">
  <%= render 'layouts/alpha_blog_logo_header' %>
</div>
<div class="row justify-content-md-center">
  <div class="col-8">
    <a class="btn btn-primary nav-link shadow mt-4" href=<%= signup_path  %> role="button">Sign Up</a>
  </div>
</div>
<%= render 'user' %>
