@import "bootstrap/dist/css/bootstrap";
@import "bootstrap/dist/css/bootstrap.min.css";


.bg-light {
  background-color: #FDF6EA !important;
}

.navbar {
  background-color: #FDF6EA !important;
}


.navbar-brand {
  font-size: 3rem;
}



h1 {
  color: red;
}
