<!-- <div class="container" id = 'container-home'> -->
  <div class="jumbotron">
    <h1 class="alpha-blog-logo">ALPHA BLOG</h1>
    <h2 class="alpha-blog-logo-it">FINALLY, YOUR CREATIVE OUTLET</h2>
  </div>
<!-- </div> -->
