<% flash.each do |name, msg| %>
  <div class="alert alert-success alert-dismissible mt-3 regular-text-s" role="alert">
    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span>
    </button>
    <%= msg %>
  </div>
<% end %>
